print("Wellcome to KIIt")

In [2]:
45+90

135

In [3]:
x="Wellcome to KiiT"

In [4]:
print(x)

Wellcome to KiiT

In [5]:
45-90

-45

In [6]:
x

'Wellcome to KiiT'

In [7]:
type(x)

str

In [8]:
print(type(x))

<class 'str'>

In [9]:
#findout the size of X
len(x)

16

In [14]:
#display X in capital letter
x.upper()

'WELLCOME TO KIIT'

In [12]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
#how to use upper using help command
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [15]:
x

'Wellcome to KiiT'

In [17]:
x.lower()

'wellcome to kiit'

In [18]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [19]:
#replace c with x: indexing

TypeError: 'str' object does not support item assignment

In [20]:
x[3]='k' #strings are immutable- readonly

TypeError: 'str' object does not support item assignment

In [ ]:
##SLicing

In [ ]:
#Slicing

In [ ]:
#print all the character from c till k of x

In [21]:
x

'Wellcome to KiiT'

In [22]:
x[2:6] #lastindex - starting index -1

'llco'

In [23]:
x[2:16]

'llcome to KiiT'

In [24]:
x[:4] #lastindex -1 to starting i

'Well'

In [25]:
x[2:] #after 2nd index to last

'llcome to KiiT'

In [1]:
n1=str
type(n1)

type

In [2]:
n1

str

In [12]:
x="Milan Kumar Sahoo"
x[2:7]

'lan K'

In [15]:
myname=input("Enter ur Name: ")
myname

Enter ur Name: MilanKumarSahoo

'MilanKumarSahoo'

In [16]:
myname[2:6]

'lanK'

In [17]:
sub ='tools and techniques'
sub

'tools and techniques'

In [ ]:
##display only even index letter from subject

In [18]:
sub

'tools and techniques'

In [19]:
sub[2:3]

'o'

In [20]:
num=[1,2,3,4,5,6,78,9]
num

[1, 2, 3, 4, 5, 6, 78, 9]

In [21]:
num[0:len(num):2] #even index

[1, 3, 5, 78]

In [22]:
num[1:len(num):2] #odd index

[2, 4, 6, 9]

In [26]:
for i in sub:
    print(i)

t
o
o
l
s

a
n
d

t
e
c
h
n
i
q
u
e
s

In [55]:
for i in sub:
    print(i,end=" ")

T O O L S   A N D   T E C H N I Q U E S

In [29]:
for x in myname:
    print(x,end=" ")

M i l a n K u m a r S a h o o

In [53]:
for i in num:
     print(i,end=" ")

1 2 3 4 5 6 78 9

In [41]:
sub.lower()

'tools and techniques'

In [42]:
sub.upper()

'TOOLS AND TECHNIQUES'

In [43]:
sub

'tools and techniques'

In [47]:
sub=sub.upper()
sub

'TOOLS AND TECHNIQUES'

In [48]:
sub

'TOOLS AND TECHNIQUES'

In [58]:
for i in num:
    if(i%2==0):
        print(i,end=' ')
    else:
        print(i,end='')

12 34 56 78 9

In [62]:
for i in range(len(sub)):
    if(i%2==0):
        print(i,end=' ')
    else:
        print(i,end='')

0 12 34 56 78 910 1112 1314 1516 1718 19

In [ ]:
##Display first 8 naturl number range

In [67]:
for num in range(1,9,2):#2 =step size bydefault 1
    print(num,end=' ')

1 3 5 7

In [ ]:
#display sum 5 diff numbers from keyboard using while and for loop

In [68]:
#display 1st 6 natural numbers using while loop

In [73]:
sum=0
for i in range(1,6):
    num=int(input('ENter num: '))
    sum+=num
print(sum)

ENter num: 1
ENter num: 2
ENter num: 3
ENter num: 4
ENter num: 5
15

In [74]:
i=1
sum=0
while(i<6):
    num=int(input('ENter num: '))
    sum+=num
    i+=1
print(sum)

ENter num: 1
ENter num: 2
ENter num: 3
ENter num: 4
ENter num: 5
15

In [1]:
input_string = "abcdefgh"
even_index_chars = input_string[::2]
print("even_index_chars::", even_index_chars)

even_index_chars:: aceg

In [2]:
# Task 2: Write a Python program to display the current date and time.
import datetime
current_datetime = datetime.datetime.now()
print("current_datetime:", current_datetime)

current_datetime: 2024-02-04 12:49:23.883666

In [3]:
# Task 3: Write a Python program that accepts the user's first and last name
# and prints them in reverse order with a space between them.
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
reversed_names = f"{last_name} {first_name}"
print("REVERSENAME:", reversed_names)

Enter your first name: Milan
Enter your last name: sahoo
REVERSENAME: sahoo Milan

In [4]:
# Task 4: Write a Python program to get the volume of a sphere with radius six.
radius = 6
sphere_volume = (4/3) * 3.14159 * radius**3
print("SPHERE_VOLUME", sphere_volume)

SPHERE_VOLUME 904.7779199999999

In [5]:
# Task 5: Write a Python program to test whether a number is within 100 of 1000 or 2000.
number_to_test = 1200
within_range = 900 < number_to_test < 1100 or 1900 < number_to_test < 2100
print("NUMBER:", within_range)

NUMBER: False

In [6]:
# Task 7: Return the count of a given substring from a string
input_string_task7 = "abcabcabcabc"
substring_task7 = "abc"
substring_count_task7 = input_string_task7.count(substring_task7)
print("STRING:", substring_count_task7)

STRING: 4

In [7]:
# Task 6: Write a Python program to calculate the sum of three given numbers.
# If the values are equal, return three times their sum.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Calculate the sum of the three numbers
sum_of_numbers = num1 + num2 + num3

# Check if the numbers are equal
if num1 == num2 == num3:
    # If equal, return three times their sum
    result = 3 * sum_of_numbers
else:
    # If not equal, return the regular sum
    result = sum_of_numbers

# Display the result
print(f"The result is: {result}")

Enter the first number: 12
Enter the second number: 13
Enter the third number: 14
The result is: 39.0

In [1]:
# Exercise 1
numbers = [1, 7, -10, 34, 2, -8]
sum_all_items = sum(numbers)
print("Sum all the items =", sum_all_items)

Sum all the items = 26

In [2]:
# 2.Write a Python program to get the largest number from a list
numbers = [1, 7, 10, 34, 2, 8]
largest_number = max(numbers)
print("Largest Number:", largest_number)

Largest Number: 34

In [3]:
#Q3.Write a Python program to count the number of 
#strings where the string length is 2 or more and the 
#first and last character are same from a given list of strings
strings_list = ['pqp', 'xyzz', 'aba', '4224']
count_strings = sum(1 for s in strings_list if len(s) >= 2 and s[0] == s[-1])
print("First and Last Character are same:", count_strings)

First and Last Character are same: 3

In [7]:
#Q5.Write a Python program to select an item randomly from a list Using random.choice()
import random
numbers_list = [1, 2, 3, 7, 2, 1, 5, 6, 4, 8, 5, 4]
random_item = random.choice(numbers_list)
print("Randomly selected item:", random_item)

Randomly selected item: 2

In [8]:
#Q6.
random_integers = random.sample(range(1, 100), 5)
print("List of 5 random integers:", random_integers)

List of 5 random integers: [84, 49, 96, 3, 8]

In [9]:
# Q4.Write a Python program to remove duplicates from a list
numbers_list = [1, 2, 3, 7, 2, 1, 5, 6, 4, 8, 5, 4]
unique_numbers = set(numbers_list)
print(unique_numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
#7.WAP to separate positive and negative number from a list.
numbers_list = [1, -3, 5, -7, 2, -4, 6, -8]

positive_numbers = []
negative_numbers = []

for num in numbers_list:
    if num > 0:
        positive_numbers.append(num)
    elif num < 0:
        negative_numbers.append(num)

print("Positive Numbers:", positive_numbers)
print("Negative Numbers:", negative_numbers)

Positive Numbers: [1, 5, 2, 6]
Negative Numbers: [-3, -7, -4, -8]

In [11]:
# Q8.Create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Separate odd and even numbers into two lists
even_numbers = []
odd_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

# Print the results
print("Original List:", numbers)
print("Even Numbers:", even_numbers)
print("Odd Numbers:", odd_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers: [2, 4, 6, 8, 10]
Odd Numbers: [1, 3, 5, 7, 9]

In [12]:
# Q9.9.Write a Python program to reverse All Strings in String List
string_list = ['Tutor', 'joes', 'Computer', 'Education']
reversed_list = [s[::-1] for s in string_list]
print("Original list =", string_list)
print("Reversed list =", reversed_list)

Original list = ['Tutor', 'joes', 'Computer', 'Education']
Reversed list = ['rotuT', 'seoj', 'retupmoC', 'noitacudE']

In [13]:
#10.Python program to sort a list of strings on the number of alphabets in each word.
my_str = input("Enter a string: ")  
# breakdown the string into a list of words  
words = my_str.split()  
# sort the list  
words.sort()  
# display the sorted words  
for word in words:  
   print(word)

Enter a string: MILAN KUMAR SAHOO
KUMAR
MILAN
SAHOO

In [14]:
# Q13:Python program to find numbers common in two lists
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

a_set = set(a)
b_set = set(b)

if a_set & b_set:
    print(a_set & b_set)
else:
    print("No common elements")

{4, 5}

In [15]:
#Q14.Split a List in half and store the elements in two different lists.
my_list = [1, 2, 3, 4, 5, 6, 7, 8]

# Split the list in half
mid_point = len(my_list) // 2
first_half = my_list[:mid_point]
second_half = my_list[mid_point:]

# Display the results
print("Original List:", my_list)
print("First Half:", first_half)
print("Second Half:", second_half)

Original List: [1, 2, 3, 4, 5, 6, 7, 8]
First Half: [1, 2, 3, 4]
Second Half: [5, 6, 7, 8]

In [16]:
import re
sentence = 'we are humans'
matched = re.match(r'(.*) (.*?) (.*)', sentence)
print(matched.group(2))

are

In [17]:
#15.Interchange first and last elements of a list
newList = [12, 35, 9, 56, 24]

# Swapping without using a function
size = len(newList)

# Swapping
temp = newList[0]
newList[0] = newList[size - 1]
newList[size - 1] = temp

# Display the result
print(newList)

[24, 35, 9, 56, 12]

In [18]:
#16.Display elements wit Frequency greater than a given value k
# Sample List
my_list = [1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 6]

# Set the frequency threshold (k)
k = int(input("Enter k Value:"))

# Display elements with frequency greater than k
for num in set(my_list):
    if my_list.count(num) > k:
        print(f"Element {num} has frequency greater than {k}")

Enter k Value:2
Element 4 has frequency greater than 2
Element 5 has frequency greater than 2

In [19]:
#Q11.Python program non-numeric items in a list in a separate list.
original_list = [1, 'apple', 3.14, 'banana', 42, 'orange']

# Separate lists for numeric and non-numeric items
numeric_list = []
non_numeric_list = []

# Iterate through the original list
for item in original_list:
    if isinstance(item, (int, float)):
        numeric_list.append(item)
    else:
        non_numeric_list.append(item)

# Display the results
print("Numeric Items:", numeric_list)
print("Non-Numeric Items:", non_numeric_list)

Numeric Items: [1, 3.14, 42]
Non-Numeric Items: ['apple', 'banana', 'orange']

In [21]:
# Sample string
my_string = "Hello, World!"

# Create a list of integers representing each character in the string without using map or ord
char_int_list = [int(char) for char in my_string]

# Display the result
print(char_int_list)

ValueError: invalid literal for int() with base 10: 'H'

In [1]:
import re
sentence = 'horses are fast'
regex = re.compile('(?P<animal>\w+) (?P<verb>\w+) (?P<adjective>\w+)')
matched = re.search(regex, sentence)
print(matched.groups())

('horses', 'are', 'fast')

In [2]:
sentence = 'we are humans'
matched = re.match(r'(.*) (.*?) (.*)', sentence)
print(matched.group(2))

are

In [1]:

a = [1, 2, 3]
a = tuple(a)
a[0] = 2
print(a)

TypeError: 'tuple' object does not support item assignment