In [ ]:
#cretae list

In [1]:
mylist=[]

In [2]:
type(mylist)

list

In [3]:
#uisng list constructure
list1=list()
type(list1)

list

In [4]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
#add an item in mylist
#mylist.append(True)
mylist.append("true")

In [9]:
mylist.append("True")

In [13]:
mylist

[True, 'true', 'True']

In [15]:
mylist=("5-3j")

In [16]:
mylist

'5-3j'

In [18]:
mylist[2]=67.89

TypeError: 'str' object does not support item assignment

In [23]:
mylist[-1]= "kiit"
mylist

TypeError: 'str' object does not support item assignment

In [27]:
list2=[10,20,30]
list2.append(40)
list2

[10, 20, 30, 40]

In [28]:
list2.extend([50,-50])
list2

[10, 20, 30, 40, 50, -50]

In [38]:
list2.insert(5,"100")
list2

[10,
 20,
 30,
 40,
 50,
 '100',
 '100',
 [5, 8, 9],
 100,
 100,
 '100',
 100,
 100,
 100,
 100,
 -50]

In [37]:
list2.insert(6,[5,8,9])
list2

[10,
 20,
 30,
 40,
 50,
 '100',
 [5, 8, 9],
 100,
 100,
 '100',
 100,
 100,
 100,
 100,
 -50]

In [39]:
#cretae a list that first list contain even number and 2nd list contain odd number from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#create an empty list 
even_numbers = []
odd_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

# Print the results
print("Original List:", numbers)
print("Even Numbers:", even_numbers)
print("Odd Numbers:", odd_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers: [2, 4, 6, 8, 10]
Odd Numbers: [1, 3, 5, 7, 9]

In [ ]:
#Display first 10 natural number using for loop and while loop
i=1
while

In [44]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [50]:
#print even number
print("evennumbers")
for i in range(0,11,2):
    print(i,end=" ")
print()
print("oddnumbers")
for i in range(1,11,2):
    print(i,end=" ")

evennumbers
0 2 4 6 8 10
oddnumbers
1 3 5 7 9

In [61]:
#create a list contain first 8 natural number and display the square and cube of separe list
import math
list2=[]
list3=[]
for i in range(1,11):
    print(i,end=" ")
print()
for i in range(1,9):
    list2.append(i ** 2)
for i in range(1,9):
    list3.append(i ** 3)
print("squre:",list2)
print("cube:",list3)

1 2 3 4 5 6 7 8 9 10
squre: [1, 4, 9, 16, 25, 36, 49, 64]
cube: [1, 8, 27, 64, 125, 216, 343, 512]

In [62]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 1, 4, 9, 16, 25, 36, 49, 64]

In [63]:
#remove the last item
list1.pop()

64

In [67]:
list1

[1, 2, 4, 5, 6, 7, 8, 1, 4, 9, 16, 25, 36, 49]

In [68]:
list1.remove(1)

In [69]:
list1

[2, 4, 5, 6, 7, 8, 1, 4, 9, 16, 25, 36, 49]

In [70]:
list4=list1.copy()
list4

[2, 4, 5, 6, 7, 8, 1, 4, 9, 16, 25, 36, 49]

In [71]:
del list1

In [72]:
list4

[2, 4, 5, 6, 7, 8, 1, 4, 9, 16, 25, 36, 49]

In [74]:
list4.pop()

49

In [81]:
list4.extend([12+30j,False,"TTLLAB",10.23])

In [83]:
print(list4,end=" ")

[2, 4, 5, 6, 7, 8, 1, 4, 9, 16, 25, 36, (12+30j), False, 'TTLLAB', 10.23, (12+30j), False, 'TTLLAB', 10.23, (12+30j), False, 'TTLLAB', 10.23, (12+30j), False, 'TTLLAB', 10.23]

In [87]:
even = [i for i in range(1,11) if(i%2==0)]
even

[2, 4, 6, 8, 10]

In [89]:
#remove duplicate from the list
nlist=[1,2,3,3,2,4,4,5]
nlist.count(2)
nlist

[1, 2, 3, 3, 2, 4, 4, 5]

In [93]:
no_dup=[]
for i in nlist:
    if i not in no_dup:
        no_dup.append(i)
no_dup

[1, 2, 3, 4, 5]

In [95]:
list7=[]
[list7.append(i) for i in nlist if i not in list7]
list7

[1, 2, 3, 4, 5]

In [97]:
list8=[]
[list8.append(i) for i in nlist if i not in list8 and (i%2==0)]
list8

[2, 4]

In [98]:
#1. Write a Python program to sum all the items
numbers = [1, 7, -10, 34, 2, -8]
sum_all_items = sum(numbers)
print("Sum all the items =", sum_all_items)

Sum all the items = 26

In [99]:
#2. Write a Python program to get the largest number from a list
numbers = [1, 7, 10, 34, 2, 8]
largest_number = max(numbers)
print("Largest Number:", largest_number)

Largest Number: 34

In [100]:
#Q3.Write a Python program to count the number of 
#strings where the string length is 2 or more and the 
#first and last character are same from a given list of strings
strings_list = ['pqp', 'xyzz', 'aba', '4224']
count_strings = sum(1 for s in strings_list if len(s) >= 2 and s[0] == s[-1])
print("First and Last Character are same:", count_strings)

First and Last Character are same: 3

In [102]:
# Q4.Write a Python program to remove duplicates from a list
numbers_list = [1, 2, 3, 7, 2, 1, 5, 6, 4, 8, 5, 4]
#unique_numbers = set(numbers_list)
#print(unique_numbers)
res_list=[]  
#using list comprehension  
[res_list.append(i) for i in numbers_list if i not in res_list]  
#printing the list after removing duplicate elements  
print("The resultant list after removing duplicates is ",res_list)

The resultant list after removing duplicates is  [1, 2, 3, 7, 5, 6, 4, 8]
{1, 2, 3, 4, 5, 6, 7, 8}

In [103]:
#Q5.Write a Python program to select an item randomly from a list Using random.choice()
import random
numbers_list = [1, 2, 3, 7, 2, 1, 5, 6, 4, 8, 5, 4]
random_item = random.choice(numbers_list)
print("Randomly selected item:", random_item)

Randomly selected item: 6

In [104]:
#Q6.Python program to create a list of 5 random integers.
random_integers = random.sample(range(1, 100), 5)
print("List of 5 random integers:", random_integers)

List of 5 random integers: [37, 87, 10, 97, 73]

In [105]:
#7.WAP to separate positive and negative number from a list.
numbers_list = [1, -3, 5, -7, 2, -4, 6, -8]

positive_numbers = []
negative_numbers = []

for num in numbers_list:
    if num > 0:
        positive_numbers.append(num)
     elif num < 0:
        negative_numbers.append(num)

print("Positive Numbers:", positive_numbers)
print("Negative Numbers:", negative_numbers)

Positive Numbers: [1, 5, 2, 6]
Negative Numbers: [-3, -7, -4, -8]

In [106]:
# Q8.WAP to filter even and odd number from a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = []
odd_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

# Print the results
print("Original List:", numbers)
print("Even Numbers:", even_numbers)
print("Odd Numbers:", odd_numbers)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers: [2, 4, 6, 8, 10]
Odd Numbers: [1, 3, 5, 7, 9]

In [107]:
# Q9.9.Write a Python program to reverse All Strings in String List
string_list = ['Tutor', 'joes', 'Computer', 'Education']
reversed_list = [s[::-1] for s in string_list]
print("Original list =", string_list)
print("Reversed list =", reversed_list)

Original list = ['Tutor', 'joes', 'Computer', 'Education']
Reversed list = ['rotuT', 'seoj', 'retupmoC', 'noitacudE']

In [108]:
#10.Python program to sort a list of strings on the number of alphabets in each word.
my_str = input("Enter a string: ")  
# breakdown the string into a list of words  
words = my_str.split()  
# sort the list  
words.sort()  
# display the sorted words  
for word in words:  
   print(word)

Enter a string: milan kumar sahoo
kumar
milan
sahoo

In [110]:
#Q11.Python program non-numeric items in a list in a separate list.
original_list = [1, 'apple', 3.14, 'banana', 42, 'orange']

numeric_list = []
non_numeric_list = []
numeric_types = [int, float, complex]
# Iterate through the original list
for item in original_list:
    if type(item) in numeric_types:
        numeric_list.append(item)
    else:
        non_numeric_list.append(item)

# Display the results
print("Numeric Items:", numeric_list)
print("Non-Numeric Items:", non_numeric_list)

Numeric Items: [1, 3.14, 42]
Non-Numeric Items: ['apple', 'banana', 'orange']

In [117]:
#12.Python program to create a list of integers representing each character in a string
my_string = "Hello, World!"
char_int_list = [ord(x) for x in my_string]
#ord used to convert a single Unicode character into its integer representation
# Display the result
print(char_int_list)

[72, 101, 108, 108, 111, 44, 32, 87, 111, 114, 108, 100, 33]

In [112]:
# Q13:Python program to find numbers common in two lists
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

result = [i for i in a if i in b]
print("The common elements in the two lists are: ",result)

The common elements in the two lists are:  [4, 5]

In [113]:
#Q14.Split a List in half and store the elements in two different lists.
my_list = [1, 2, 3, 4, 5, 6, 7, 8]

mid_point = len(my_list) // 2
first_half = my_list[:mid_point]
second_half = my_list[mid_point:]

# Display the results
print("Original List:", my_list)
print("First Half:", first_half)
print("Second Half:", second_half)

Original List: [1, 2, 3, 4, 5, 6, 7, 8]
First Half: [1, 2, 3, 4]
Second Half: [5, 6, 7, 8]

In [114]:
#15.Interchange first and last elements of a list
newList = [12, 35, 9, 56, 24]

size = len(newList)

# Swapping
temp = newList[0]
newList[0] = newList[size - 1]
newList[size - 1] = temp

# Display the result
print(newList)

[24, 35, 9, 56, 12]

In [10]:
#16.Display elements with Frequency greater than a given value k
my_list = [1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 6]

# Set the frequency threshold (k)
k = int(input("Enter k Value:"))

# Display elements with frequency greater than k
for num in set(my_list):
    if my_list.count(num) > k:
        print(f"Element {num} has frequency greater than {k}")

Enter k Value:2
Element 4 has frequency greater than 2
Element 5 has frequency greater than 2